body{
    height: 100%;
}

.height68{
    height: 68px;
}

.background-chess{
    background-image: url(../img/background-chess.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.low-alpha{
    background-color: rgba(0,0,0,0.7);
}

#div-detail{
    display:none;
    padding: 0 100px;
}
#div-detail.show{
    display: table-cell !important;
}

#div-detail a{
    color: #000 !important;
}

.detail-container{
    margin: 0 auto;
    width: 1000px;
}

#div-settings{
    font-size: 20px;
    width: 237px;
    margin: 0 auto;
}

#canvas {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

#div-moves{
    width:100%;
    overflow: auto;
    height: 500px;
}

#div-detail .cover > div{
    float: left;
}

#game-title{
    margin: 20px;
    font-size: 30px;
}

#btn-pause{
    display:none;
}

.lead{
    margin: 20px 0;
}

.glyphicon-knight{
    font-size: 40px;
}

.settings-module{
    margin:20px 20px 20px 0;
    font-size: 14px;
    float: left;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}